<a class="close-img-link" href="/map"><img src="./../../../../images/close.png" alt=""></a>

<div class="comment-in-comment-view">
    <h3 id="commentTitle">{{this.title}}</h3>

    <p>{{this.text}}</p>
</div>

<div class="comment-view-author-and-like">
    <div class="comment-view-like-div"></div>
    <p class="author-in-comment-view">By: {{this.creatorId.username}}</p>
</div>

<p id="currentUser" hidden>{{this.currentUserUsername}}</p>
<p id="commentId" hidden>{{this._id}}</p>
<p id="current-likes"hidden>{{this.currentLikes}}</p>

<div id="replies">
        {{#each this.replies}}
    <div class="reply">
            <p class="replyDateDisplayed">{{this.date}}</p>
            <p class="replyText">"{{this.text}}"</p>
            <p class="creatorUsername">{{this.creatorUsername}}</p>
            <p class="replyId" hidden>{{this._id}}</p>
    </div>
        {{/each}}
</div>

<form class="comment-view-reply-form" action="/reply/{{this._id}}" method="POST">
    <input type="text" name="text" id="" placeholder="Enter your reply" required>
    {{!-- <input type="text" name="image_url" placeholder="Add an image" id=""> IF we have time --}}
    <input type="text" name="creatorUsername" id="commentCreatorUsername" value={{this.creatorId.username}} hidden>
    <input type="text" name="date" id="replyDate" hidden>
    <input type="text" name="currentLikes" id="keepTheLikesWhenReplying" hidden>
    <button type="submit">Reply</button>
</form>



<script src="/javascripts/comment.js">

</script>