<span id="userHomeLng" hidden>{{this.homeCoords.lng}}</span>
<span id="userHomeLat" hidden>{{this.homeCoords.lat}}</span>
<span id="currentMapStyle" hidden>{{this.mapStyle}}</span>
<span id="userComments" hidden>{{this.userComments}}</span>
<span id="currentUser" hidden>{{this.currentUser}}</span>
<span id="currentLocation" hidden>{{this.currentLocation}}</span>
<div id="map"></div>
<pre id='info' hidden></pre>

<img class="add-img-plus" src="https://img.icons8.com/cotton/128/000000/plus--v1.png" class="comment-popup-button" >
<form class="add-comment-form" action='/comment' method='POST' id="comment-popup">

  <input type='text' name='title' placeholder="title" required>

  <input type='text' name='text' placeholder="text">

  <input id="newCommentLng" type='text' name='lng' required>

  <input id="newCommentLat" type='text' name='lat' required>

    <div>
        <button id="add-comment-btn" type='submit'>Submit</button>
        <input id="privatePublicInput" type="text" name="privateOrPublic" value="Public" hidden>
        <input type="text" name="ubication" id="newCommentUbication" hidden>
        <button id="privatePublicBtn">Public</button>
        <input id="new-comment-type" type="text" name="type" placeholder="Type of comment" hidden>
    </div>
</form>


<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script src="/javascripts/map.js"></script>
<script>
</script>


{{!-- navigator.geolocation.getCurrentPosition((posObj) => console.log(posObj))  --}}

